.img-left {
  width: 80%;
  height: 95%;
  padding: 15px;
  margin-left: 9rem;
}

.img-right {
  width: 80%;
  padding: 15px;
  height: 90%;
}

.images div {
  text-align: center;
}

.body-hr {
  width: 100%;
  background-color: black;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  border: 1px solid black;

  text-align: center;
}


.headers-div {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

}
